body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(/pages/services/img/background-services.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 60%;
    margin: 80px;
    padding: 10px;
    background-color: #ffffff84;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    padding: 10%;
}

.services {
    display: flex;
}

.service {
    width: 30%;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.service img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.service h2 {
    margin-bottom: 10px;
}

.service p {
    margin-bottom: 20px;
}

.service button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.service button:hover {
    background-color: #45a049;
}